body {
  font-family: 'Lora', serif;
}

.game {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game-top, .game-center, .game-bottom {
  border: 1px solid black;
}

.game-top {
}
html, body {
height: 100%;
width: 100%;
overflow-x: clip;
margin: 0px;
}

.game-center {
flex-grow: 5;
padding-left: 5px;
padding-right: 5px;
text-align: center;
overflow-x: scroll;
}


.game-bottom, #modal_history_table, #scenario_history_table {
flex-grow: 1;
max-height: 300px;
overflow: scroll;
min-height: 170px;
}

.button {
  all:unset;
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 25px;
  border: 1px solid gray;
  padding: 10px;
  margin-top: 10px;
  text-align: center;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.button>div {
  margin-top: 3px;
  border-top: 1px solid gray;
  padding-top: 3px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

#stats {
font-size: 17px;
display: flex;
flex-wrap: wrap;
}

#stats>div {
flex: 1 1 60px;
min-width: fit-content;
padding:5px;
border:1px solid black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

[data-enabled="true"] {
  background-color: rgb(2, 2, 144);
  color: white;
}

#name {
  all:unset;
  font-variant: inherit;
  font-size: 36px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #442301;

}

#toggle-speed, #toggle-pause {
  all:unset;
  cursor: pointer;
  width:90px;
  padding-left:10px;
  background-color: #646161;
  color:white;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#toggle-pause {
  background-color: white;
  width: fit-content;
  padding-right: 10px;
  border: 1px solid black;
}

table, td, th {
  border: 1px solid;
}

table {
  width: fit-content;
  border-collapse: collapse;
  margin-top: 15px;
}



tbody {
overflow-x: scroll;
}
td {
padding-inline: 5px;
white-space: nowrap;
}
tr {
overflow-x: scroll;
}


#helpmodal, #scenariomodal {
display: none;
width: calc(100vw - 10vw);
height: calc(100vh - 10vh);
position: fixed;
background-color: #ddf666;
top: 5vh;
color: black;
border-radius: 30px;
text-align: center;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 700px;
left: 50%;
transform: translate(-50%, 0);
}

#overlay {
    display: block;
    background-color: gray;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
}